
    <div class="card mx-2 my-3" style="width: 17rem;">
        <img [src]="product.image" class="card-img-top" alt="...">
       
        <div class="card-body">
          <h5 class="card-title text-success text-center">{{product.title}}</h5>
          <p class="card-text text-center">{{product.description}}</p>
        </div>
        
        <ul class="list-group list-group-flush">
            <div class="row">
                <div class="col-6 text-center">
                    Precio ${{product.price}}
                </div>
                <div class="col-6">
                   {{product.cantidad}}
                </div>
            </div>
        </ul>
    
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                   <input type="number" class="form-control">
                </div>
                <div class="col-8">
                    <button type="button" class="btn btn-info">Añadir al carrito</button>
                </div>
            </div>
        </div>
    </div>
